---
import ArrowLinkIcon from "@assets/ArrowLinkIcon.astro";
import GithubIcon from "@assets/GithubIcon.astro";
import LinkedinIcon from "@assets/LinkedinIcon.astro";
import kanbanApp from "@assets/kanbanAppWM.png";
import worldM from "@assets/worldM.png";
import EmailIcon from "@components/EmailIcon.astro";
import LinksDesign from "@components/LinksDesign.astro";
import ProjectCard from "@components/ProjectCard.astro";
import SliderTechnologiesT from "@components/SliderTechnologiesT.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import EmailButton from "@components/EmailButton.astro";
---

<!-- https://huemint.com/website-2/#palette=000000-ffffff-ec18e8-00fcfe -->
<Layout>
  <div
    class="relative p-6 md:p-10 overflow-hidden 1xl:px-28 1xl:pt-28 3xl:px-40"
  >
    <span
      id="circle-bg"
      class="absolute z-[-1] w-[100px] aspect-square rounded-full opacity-100 blur-3xl bg-[#ec18e8] right-[-50px] md:w-[200px] md:opacity-55 md:right-[-90px] 1xl:w-[300px] 1xl:opacity-40 1xl:right-[-150px] 3xl:w-[400px] 3xl:opacity-25 3xl:right-[-70px] 3xl:top-0"
    ></span>
    <span
      id="circle-bg"
      class="absolute w-[100px] aspect-square z-[-1] rounded-full opacity-70 blur-3xl bg-[#ec18e8] top-[300px] left-0 md:w-[200px] md:opacity-45 md:top-[400px] 3xl:w-[400px] 3xl:opacity-25"
    ></span>

    <header>
      <h1
        id="observer-style"
        class="text-white text-4xl font-black md:text-7xl"
      >
        DESARROLLADOR FRONTEND
      </h1>
      <div class="flex items-center gap-[.75rem] text-white pt-[.5rem]">
        <LinksDesign>
          <LinkedinIcon className="w-4" />
        </LinksDesign>

        <LinksDesign>
          <GithubIcon className="w-4" />
        </LinksDesign>

        <EmailButton />
      </div>
    </header>

    <main>
      <div
        id="observer-style"
        class="pt-[5rem] flex flex-col md:gap-3 1xl:w-[58%]"
      >
        <span class="font-normal text-lg text-Gray md:text-xl">
          Hola, me llamo
          <span class="text-[#008bfd] font-bold"> Diego</span>.
        </span>
        <p class="text-2xl font-semibold text-Gray md:text-3xl md:w-[85%]">
          Soy un
          <span class="text-white"> Desarrollador</span>
          mexicano con sólidos conocimientos en
          <span class="text-white">desarrollo web</span>. Apasionado por
          transformar diseños en
          <span class="text-white">experiencias interactivas</span>.
        </p>
      </div>

      <div class="pt-[80px] md:pb-[30px] md:pt-[100px]">
        <span
          id="observer-style"
          class="block w-[15rem] font-normal text-lg text-Gray md:text-xl"
          >Tecnologías detrás de mis Proyectos:
        </span>
        <!-- <SliderTechnologies /> -->
      </div>

      <SliderTechnologiesT />

      <section
        id="projects-bg"
        class="pt-[60px] pb-[5.625rem] flex flex-col gap-12 relative after:bg-gradient-to-b after:from-Black after:via-Black md:pt-[160px]"
      >
        <span
          id="circle-bg"
          class="absolute w-[100px] aspect-square rounded-full z-[-1] opacity-50 blur-3xl bg-[#ec18e8] md:w-[200px] md:opacity-45 3xl:w-[400px] 3xl:opacity-25 3xl:left-[-100px] 3xl:top-[300px]"
        ></span>

        <span
          id="circle-bg"
          class="absolute w-[100px] z-[-1] aspect-square rounded-full opacity-70 blur-3xl bg-[#ec18e8] right-[-30px] top-[600px] md:top-[800px] md:w-[200px] 3xl:w-[400px] 3xl:opacity-25 3xl:top-[1200px]"
        ></span>
        <span
          id="circle-bg"
          class="absolute w-[100px] aspect-square rounded-full opacity-70 z-[-1] blur-3xl bg-[#ec18e8] left-0 bottom-0 md:w-[200px] 3xl:w-[300px] 3xl:left-[400px] 3xl:bottom-[150px] 3xl:opacity-25"
        ></span>

        <h2
          id="observer-style"
          class="text-[2rem] text-center text-white font-normal z-10 md:text-[3rem] md:pb-[80px] 1xl:text-[4rem] 3xl:pt-[100px]"
        >
          MIS PROYECTOS
        </h2>

        <div class="flex flex-col gap-16 items-center md:gap-32 1xl:gap-48">
          <ProjectCard
            url="https://where-in-the-world-ashy.vercel.app/"
            title="Where in the world?"
          >
            <Image
              class="lg:w-[80%]"
              src={worldM}
              alt="Proyecto 'Where in the world?'"
              loading="lazy"
            />
          </ProjectCard>

          <ProjectCard
            url="https://kanban-app-nine-xi.vercel.app/"
            title="KanbanApp"
          >
            <Image
              class="lg:w-[80%]"
              src={kanbanApp}
              alt="Proyecto 'KanbanApp'"
              loading="lazy"
            />
          </ProjectCard>
        </div>

        <p
          id="observer-style"
          class="font-normal text-2xl text-center text-Gray pt-[32px] md:text-3xl 1xl:py-[140px] 1xl:w-[50%] ms-auto me-auto"
        >
          Gracias por detenerte en mi página. Tu visita es realmente apreciada.
          ¡Espero que hayas encontrado algo interesante y valioso durante tu
          exploración!
        </p>
      </section>
    </main>
    <footer
      class="relative after:w-full after:h-[1px] after:bg-white after:absolute after:top-0"
    >
      <ul class="text-Gray flex flex-col gap-[1rem] pt-[40px]">
        <li class="flex gap-2">
          Linkedin
          <div class="rotate-[-45deg]">
            <ArrowLinkIcon className="aspect-square w-3 " />
          </div>
        </li>
        <li class="flex gap-2">
          GitHub
          <div class="rotate-[-45deg]">
            <ArrowLinkIcon className="aspect-square w-3 " />
          </div>
        </li>
        <li class="flex gap-2">
          Email
          <div class="rotate-[-45deg]">
            <ArrowLinkIcon className="aspect-square w-3 " />
          </div>
        </li>
      </ul>
    </footer>
  </div>
</Layout>

<!-- #projects-bg::before {
  content: "";
  /* 1.5rem * 2 padding div container */
  width: calc(100% + 3rem);
  height: 100%;

  z-index: -1;
  position: absolute;
  top: 0;

  /* 1.5rem padding div container */
  left: -1.5rem;
  /* background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background-image: linear-gradient(
      #8080801a 0.1563rem,
      transparent 0.1563rem
    ),
    linear-gradient(
      to right,
      #8080801a 0.1563rem,
      rgba(128, 4, 4, 0) 0.1563rem
    );
  background-size: 6.875rem 6.875rem; */
}

#projects-bg::after {
  content: "";

  position: absolute;
  /* 1.5rem * 2 padding div container */
  width: calc(100% + 3rem);
  height: 20%;

  z-index: -1;
  position: absolute;
  top: 0;

  /* 1.5rem padding div container */
  left: -1.5rem;
}

@media screen and (min-width: 768px) {
  #projects-bg::before {
    content: "";
    /* 40px * 2 padding div container */
    width: calc(100% + 80px);
    /* 1.5rem padding div container */
    left: -40px;
  }

  #projects-bg::after {
    /* 40px * 2 padding div container */
    width: calc(100% + 80px);

    /* 1.5rem padding div container */
    left: -40px;

    /* background-color: red; */
  }
}

@media screen and (min-width: 1440px) {
  #projects-bg::before {
    content: "";
    /* 112px * 2 padding div container */
    width: calc(100% + (112px * 2));
    /* 112px padding div container */
    left: -112px;
  }

  #projects-bg::after {
    /* 112px * 2 padding div container */
    width: calc(100% + (112px * 2));

    /* 112px padding div container */
    left: -112px;
  }
} -->

<style>
  #observer-style {
    transform: translateY(-20px);
    opacity: 0;

    transition: all 0.4s linear;
  }
</style>

<script>
  const options = {
    rootMargin: "0px",
    threshold: 1.0,
  };

  const callback = (entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.style.transform = "translateY(0)";
        entry.target.style.opacity = "1";
      }
    });
  };

  const elements = document.querySelectorAll("#observer-style");

  const observer = new IntersectionObserver(callback, options);
  elements.forEach((el) => observer.observe(el));
</script>
