---
const {
  id = "",
  setId = "",
  setCopy = "",
  setMessageRes = "",
  className,
} = Astro.props;
---

<custom-element
  data-setid={setId}
  data-setcopy={setCopy}
  data-setmessageresponse={setMessageRes}
>
  <button id={`${id}`} class={`relative ${className ?? ""}`}>
    <slot />
  </button>
</custom-element>

<script>
  class ButtonMessage extends HTMLElement {
    constructor() {
      super();

      // Read the message from the data attribute.
      const button = this.querySelector("button");
      const copyMessage = this.dataset.setcopy;
      const messageResponse = this.dataset.setmessageresponse;
      const messageElementId = this.dataset.setid;

      const addMessageElement = () => {
        const messageEl = document.createElement("span");
        messageEl.textContent = messageResponse;
        messageEl.id = messageElementId;
        messageEl.classList =
          " w-fit h-fit px-[8px] bg-white text-black absolute top-0  duration-[500ms] text-xs ease-linear transition-all opacity- rounded-full  ";

        button.appendChild(messageEl);

        return { messageEl };
      };

      const copyToClipboard = () => {
        navigator.clipboard.writeText(copyMessage).catch(function (err) {
          console.error("Error al intentar copiar al portapapeles: ", err);
        });
      };

      button.addEventListener("click", () => {
        copyToClipboard();
        const { messageEl } = addMessageElement();

        setTimeout(() => {
          messageEl.style.transform = "translateY(-20px)";
          messageEl.style.opacity = "0";
        }, 100);

        setTimeout(() => {
          const parentElements = Array.from(button.children);
          const validateElement = parentElements.some(
            (el) => el.id === messageElementId
          );

          if (validateElement) button.removeChild(messageEl);
        }, 1000);
      });
    }
  }

  customElements.define("custom-element", ButtonMessage);
</script>

<style>
  #link-style {
    position: relative;
    border-radius: 50%;

    width: 32px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );
  }

  #link-style::before {
    content: "";

    position: absolute;
    inset: 1px;
    background-color: #000;
    border-radius: 16px;
  }

  #link-style:hover::before {
    opacity: 0.7;
  }

  #link-style::after {
    content: "";

    position: absolute;
    inset: 0px;

    border-radius: 16px;
    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );

    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }

  #link-style:hover::after {
    opacity: 1;
  }
</style>
