---
import ArrowLinkIcon from "@assets/ArrowLinkIcon.astro";
import EmailButton from "./EmailButton.astro";
---

<footer
  class="relative after:w-full after:h-[1px] after:bg-white after:absolute after:top-0"
>
  <ul class="text-Gray flex flex-col gap-[1rem] pt-[40px]">
    <li class="w-fit hover:text-white">
      <a
        class="w-fit flex gap-2"
        aria-label="Perfil de Linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/diego-peralta-b9b012291/"
      >
        Linkedin
        <div class="rotate-[-45deg]">
          <ArrowLinkIcon className="aspect-square w-3 " />
        </div>
      </a>
    </li>
    <li class="w-fit hover:text-white">
      <a
        class="flex gap-2"
        target="_blank"
        aria-label="Perfil de Github"
        href="https://github.com/DiegoPMz"
      >
        GitHub
        <div class="rotate-[-45deg]">
          <ArrowLinkIcon className="aspect-square w-3 " />
        </div>
      </a>
    </li>
    <li class="w-fit hover:text-white">
      <EmailButton
        setId={"footer_btn"}
        setCopy={"diego.pmz08@gmail.com"}
        setMessageRes={"Copiado"}
      >
        <div class="flex gap-2">
          Email
          <div class="rotate-[-45deg]">
            <ArrowLinkIcon className="aspect-square w-3 " />
          </div>
        </div>
      </EmailButton>
    </li>
  </ul>
</footer>
