---
const { url, aria_label } = Astro.props;
---

<!-- class="w-[32px] relative aspect-square flex items-center justify-center rounded-full ring-1 ring-Gray hover:ring-[#008bfd]" -->
<a
  target="_blank"
  aria-label={aria_label ?? ""}
  href={url ?? "#"}
  id="link-style"
>
  <div class="w-fit h-fit relative">
    <slot />
  </div>
</a>

<style>
  #link-style {
    position: relative;
    border-radius: 50%;

    width: 32px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );
  }

  #link-style::before {
    content: "";

    position: absolute;
    inset: 1px;
    background-color: #000;
    border-radius: 16px;
  }

  #link-style:hover::before {
    opacity: 0.7;
  }

  #link-style::after {
    content: "";

    position: absolute;
    inset: 0px;

    border-radius: 16px;
    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );

    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }

  #link-style:hover::after {
    opacity: 1;
  }
</style>
