---
import IconArrow from "@assets/IconArrow.astro";

const { projectUrl } = Astro.props;
---

<nav
  id="nav-style"
  class="fixed top-0 flex z-[600] justify-end gap-[24px] items-center w-full p-[24px] xl:py-[28px] 1xl:py-[32px] 3xl:px-[140px]"
>
  <a
    class="relative flex items-center gap-[6px] text-white bg-black py-[0.3rem] px-[0.5rem] rounded-full text-base font-normal"
    href="/"
  >
    <div class="animate-pulse">
      <IconArrow />
    </div>
    <span> Regresar </span>
  </a>
  <a
    id="link-style"
    class="text-white text-base font-normal"
    href={projectUrl ?? "#"}
    target="_blank"
  >
    <span class="relative z-50"> Visitar </span>
  </a>
</nav>

<style>
  #nav-style::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 47, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    visibility: var(--display-value, hidden);
  }

  #link-style {
    position: relative;
    z-index: 50;
    border-radius: 16px;

    width: fit-content;
    padding: 0.3rem 1rem;

    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );
  }

  #link-style::before {
    content: "";
    z-index: 20;

    position: absolute;
    inset: 1px;
    background-color: #000;
    border-radius: 16px;
  }

  #link-style:hover::before {
    opacity: 0.7;
  }

  #link-style::after {
    content: "";

    position: absolute;
    inset: 0px;

    border-radius: 16px;
    background: linear-gradient(
      90deg,
      hsla(254, 68%, 9%, 1) 0%,
      hsla(269, 97%, 37%, 1) 33%,
      hsla(320, 77%, 55%, 1) 66%,
      hsla(316, 41%, 93%, 1) 100%
    );

    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }

  #link-style:hover::after {
    opacity: 1;
  }
</style>

<script>
  const navElement = document.querySelector("#nav-style") as HTMLElement;

  document.addEventListener("scroll", () => {
    const indexY = window.scrollY;

    if (indexY > 10) {
      navElement.style.setProperty("--display-value", "visible");
    } else {
      navElement.style.setProperty("--display-value", "hidden");
    }
  });
</script>
