---
const { title, url } = Astro.props;
---

<!-- pl-[24px] py-[24px] -->
<article id="project-article">
  <a href={url ?? "#"}>
    <div id="bg-container" class="bg-cyan-900 rounded-[16px] relative">
      <div class="px-[24px] pt-[24px] lg:px-[32px] lg:pt-[32px]">
        <h3 class="font-semibold text-white text-2xl md:text-4xl md:pb-[8px]">
          {title ?? "Framer templates"}
        </h3>
        <p class="font-normal text-Gray text-[18px] pb-[24px] md:text-2xl">
          Launch your new website in minutes.
        </p>

        <div class="w-full flex justify-center">
          <slot />
        </div>
      </div>
    </div>
  </a>
</article>

<style>
  #project-article {
    border: 1px solid #555555;
    position: relative;

    @apply w-full;
    @apply rounded-[24px];
    @apply p-[8px];

    @apply lg:p-[16px];
    @apply lg:w-[90%];

    background-color: rgba(242, 242, 242, 0.089);
  }

  #project-article::after {
    content: "";

    position: absolute;
    inset: 0;
    margin-inline: auto;

    width: 85%;
    height: 1px;

    border-radius: 50%;

    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 56%, 0.171) 0%,
      hsl(344deg 0% 88%) 28%,
      hsl(300deg 100% 100%) 52%,
      hsl(344deg 0% 88%) 76%,
      hsla(0, 0%, 56%, 0.171) 100%
    );
  }

  #bg-container {
    /* background-image: linear-gradient(
      180deg,
      hsl(207deg 100% 50%) 0%,
      hsl(207deg 100% 39%) 20%,
      hsl(207deg 100% 26%) 40%,
      hsl(207deg 100% 15%) 60%,
      hsl(207deg 98% 7%) 80%,
      hsl(206deg 100% 5%) 100%
    ); */

    background-image: linear-gradient(
      180deg,
      hsl(207deg 100% 27%) 0%,
      hsl(207deg 100% 20%) 20%,
      hsl(207deg 100% 15%) 40%,
      hsl(207deg 95% 10%) 60%,
      hsl(210deg 100% 5%) 80%,
      hsl(0deg 0% 0%) 100%
    );

    border: 1px solid #555555;
  }

  #bg-container::after {
    content: "";

    position: absolute;
    inset: 0;
    margin-inline: auto;

    width: 85%;
    height: 1px;

    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 56%, 0.171) 0%,
      hsl(344deg 0% 88%) 28%,
      hsl(300deg 100% 100%) 52%,
      hsl(344deg 0% 88%) 76%,
      hsla(0, 0%, 56%, 0.171) 100%
    );

    /* @apply opacity-50; */
  }

  #mockup-bg {
    background-image: linear-gradient(
      65deg,
      hsl(301deg 85% 51%) 0%,
      hsl(296deg 100% 21%) 20%,
      hsl(339deg 0% 0%) 40%,
      hsl(339deg 0% 0%) 60%,
      hsl(223deg 100% 24%) 80%,
      hsl(207deg 100% 50%) 100%
    );
  }
</style>
