---
import ListTechnologies from "./ListTechnologies.astro";
---

<!-- class="relative w-full overflow-hidden rounded-full py-[24px] backdrop-blur-2xl" -->
<div
  id="slider-ParentContainer"
  class="relative w-full overflow-hidden py-[24px]"
>
  <div id="slider-container" class="min-w-max flex">
    <ListTechnologies />
    <ListTechnologies />
    <ListTechnologies />
    <ListTechnologies />
  </div>
</div>

<style>
  #slider-ParentContainer::before {
    content: "";
    width: 80%;
    height: 1px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;
    margin-inline: auto;

    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 56%, 0.171) 0%,
      hsl(344deg 0% 88%) 28%,
      hsl(300deg 100% 100%) 52%,
      hsl(344deg 0% 88%) 76%,
      hsla(0, 0%, 56%, 0.171) 100%
    );

    opacity: 0.1;
  }
</style>
