---
import ListTechnologies from "./ListTechnologies.astro";
---

<div class="w-full overflow-hidden absolute left-0">
  <div id="slider-container" class="relative min-w-max whitespace-nowrap flex">
    <ListTechnologies />
    <ListTechnologies />
    <ListTechnologies />
    <ListTechnologies />
  </div>
</div>
